<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Alarm</key>
	<dict>
		<key>NibFile</key>
		<string>TKAlarmComponent</string>
		<key>PreferencesNibFile</key>
		<string>TKAlarmPreferences</string>
		<key>Defaults</key>
		<string>TKAlarmDefaults.plist</string>
	</dict>
	<key>Binary Scale</key>
	<dict>
		<key>NibFile</key>
		<string>TKVbsComponent</string>
		<key>PreferencesNibFile</key>
		<string>TKVbsPreferences</string>
		<key>Defaults</key>
		<string>TKVbsDefaults.plist</string>
	</dict>
	<key>Pause</key>
	<dict>
		<key>NibFile</key>
		<string>TKPauseComponent</string>
		<key>PreferencesNibFile</key>
		<string>TKPausePreferences</string>
		<key>Defaults</key>
		<string>TKPauseDefaults.plist</string>
	</dict>
	<key>Visual Analog Scale</key>
	<dict>
		<key>NibFile</key>
		<string>TKVasComponent</string>
		<key>PreferencesNibFile</key>
		<string>TKVasPreferences</string>
		<key>Defaults</key>
		<string>TKVasDefaults.plist</string>
	</dict>
	<key>Visual Digital Scale</key>
	<dict>
		<key>NibFile</key>
		<string>TKVdsComponent</string>
		<key>PreferencesNibFile</key>
		<string>TKVdsPreferences</string>
		<key>Defaults</key>
		<string>TKVdsDefaults.plist</string>
	</dict>
</dict>
</plist>
